.login-form {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.input-error {
  text-align: center;
  color: red;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-top {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }

  10% {
    transform: rotate(0deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-1deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(1deg);
  }

  80% {
    transform: rotate(1deg);
  }

  90% {
    transform: rotate(-1deg);
  }
}
