.listing-container {
    margin: 8vh 0 0 0;
    overflow: hidden;
    max-width: 100%;
    position: absolute;
}

.listing-name {
    margin: 2% 0 2% 2%;
    text-shadow: 0 0 1px #000;
}

.listing-title {
    font-weight: bolder;
    font-size: 1.5em;
    margin: 1% 0 1% 2%;
    text-shadow: 0 0 1px #000;
    border-bottom: 1px solid black;
    width: 94%;
}

.features-list {
    list-style: none;
}

.listing-details {
    margin: 0 0 0 2%;
    font-weight: bolder;
    font-size: 1.25em;
    text-shadow: 0 0 1px #000;
}

.listing-features {
    list-style: none;
    margin: 0 0 0 2%;
    font-weight: bolder;
    font-size: 1.25em;
    text-shadow: 0 0 1px #000;
}

.images-container {
    display: flex;
    flex-direction: row;
    height: 40vh;
}

.listing-image1,
.listing-image2,
.listing-image3 {
    box-shadow: 0 0 2px #000;
    width: 33.33333%;
    object-fit: cover;
}

.favorite-btn {
    background-color: #002244;
    color: #fff;
    font-size: 1em;
    height: 20%;
    width: 30%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 2% 0 0 0;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('../assets/Heart.svg');
    transition: .4s;
}

input:checked + .slider {
    background-color: #FB4F14;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FB4F14;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}